# Telegram Bot Token
# Получите токен у @BotFather в Telegram
TELEGRAM_BOT_TOKEN=8181537200:AAGcRcNDyOOqMWQBMlQDfgBNtELs_aAwaIs

# Дополнительные настройки (опционально)
# DOWNLOAD_DIR=./downloads
# MAX_FILE_SIZE=50MB
